<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <section class="heroSec">
            <div class="logo">
                <h1>Full-Stack JavaScript Developer</h1>
                <div class="shapeDiv">
                    <h2>JS</h2>
                </div>
            </div> 
            <div class="subLogo">
                <h3>Hi, my name is Chris I'm a JavaScript Developer</h3>
                <a href=""><button class="btn heroBtn heroBtn-1">Portfolio</button></a>
                <a href="/pdf/JavaScript Resume CodeSandbox.pdf"><button class="btn heroBtn heroBtn-2">Resume</button></a>
                <a href="https://github.com/demetriusdesign777?tab=repositories"><button class="btn heroBtn heroBtn-3">Github</button></a>
            </div>
        </section>
        <section class="projectsSec">
            <div class="project project-1">
                <div class="projectTitle projectTitle-1">
                    <div class="wpSpan">//</div>
                    <div class="wpDiv">
                        <h4 class="projectLogo wp">Web<span>Playground</span></h4>
                        <p class="projectSubHeader wp-p">Coding my way through the web</p>
                    </div>
                </div>
                <div class="projectDescDiv projectDescDiv-1">
                    <div class="projectDesc projectDesc-1">
                        <h5 class="projectHeader projectH5">Figma, Html/Css, JavaScript, Express.js, MongoDB</h5>
                        <p class="projectDescP projectDescP-1">My flagship blog for the latest articles on figma, html/css, javaScript, databases & other web technologies. It uses nginx, express sessions, nodemailer with gmail & other packages. It is fully responsive, all images & text a compressed using gzip.</p>
                        <a href=""><button class="btn projectDescBtn projectDescBtn-1 liveBtn">Live Version</button></a>
                    </div>
                </div>
            </div>
            <div class="project project-2">
                <div class="projectTitle projectTitle-2">
                    <h4 class="projectLogo plant">The Plant-Based Experiment</h4>
                    <div class="imgHolder">
                        <img src="img/woman-on-mountain-background.svg">
                    </div>
                </div>
                <div class="projectDescDiv projectDescDiv-2">
                    <div class="projectDesc projectDesc-2">
                        <h5 class="projectHeader projectH5">Figma, Html/Css, JavaScript, Express.js, Gmail</h5>
                        <p class="projectDescP projectDescP-2">A website made for a vegan based diet. It is fully responsive, has a mobile menu, a faq section with an accordion slider and a mailer script that is ran with node.js. It features 2k images which are fully responsive. The images are also compressed to enable fast page loading.</p>
                        <a href="/The-Plant-Based-Experiment"><button class="btn projectDescBtn projectDescBtn-2 liveBtn">Live Version</button></a>
                        <a href="https://github.com/demetriusdesign777/The-Plant-Based-Experiment"><button class="btn projectDescBtn projectDescBtn-2-2 githubBtn">Github</button></a>
                    </div>
                </div>
            </div>
            <div class="project project-3">
                <div class="projectTitle projectTitle-3">
                    <h4 class="projectLogo pro"><span>Pro</span>cycle</h4>
                </div>
                <div class="projectDescDiv projectDescDiv-3">
                    <div class="projectDesc projectDesc-3">
                        <h5 class="projectHeader projectH5">Figma, Html/Css, JavaScript</h5>
                        <p class="projectDescP projectDescP-1">An animated banner for a waste management & recycling company. Banner dimensions are 160px width by 600px height. Uses css to define the styles & properties. Uses JavaScript to make the transitions.</p>
                        <a href="/Procycle"><button class="btn projectDescBtn projectDescBtn-3 liveBtn">Live Version</button></a>
                        <a href="https://github.com/demetriusdesign777/Procycle"><button class="btn projectDescBtn projectDescBtn-3-2 githubBtn">Github</button></a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>